.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(9, 5, 9);
}

.menu{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    background-color: #000000;
    color:rgb(234, 234, 234)
}
.panel{
    margin-top: 1rem;
    border: 1px solid;
    align-items: center;
    display: flex;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    background-image: url("../images/wall.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Adicione esta linha */
}

.enemy {
    background-size: cover;
    background-image: url("../images/enemy.png");
    height: 150px;
    width: 150px;
}


.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child() , .menu-score h2:nth-child() {
    margin-top: 1rem;
}